@import "../../../../../assets/scss/variables.scss";

.cards {
  margin-bottom: 40px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 28px;
  padding: 20px 30px 25px 30px;

  .title {
    font-weight: 500;
    font-size: 20px;
    color: $text-primary;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .card-container {
    display: flex;

    .card-wrapper {
      width: 365px;
      padding-right: 45px;

      .card {
        background: linear-gradient(180deg, #197BBD 0%, #3391D0 100%);
        border-radius: 26px;
        padding: 20px;
        width: 320px;
        position: relative;

        .card-title {
          margin-bottom: 45px;

          h6 {
            font-weight: bold;
            font-size: 16.7475px;
            line-height: 21px;
            color: #FFFFFF;
          }

          p {
            font-weight: bold;
            font-size: 8.11292px;
            line-height: 10px;
            color: rgba(255, 255, 255, 0.39);
          }
        }

        .card-number {
          margin-bottom: 32px;

          p {
            font-weight: 500;
            font-size: 21.4918px;
            line-height: 27px;
            color: #FFFFFF;
            margin-right: 15px;
            display: inline;
          }

          p:nth-child(2) {
            margin-right: 23px;
            letter-spacing: 5px;
          }

          p:nth-child(3) {
            letter-spacing: 5px;
          }

        }

        .card-footer {
          span {
            display: inline-block;

            &:nth-child(2) {
              margin-left: 20px;
            }

            h6 {
              font-weight: 500;
              font-size: 7.17776px;
              line-height: 9px;
              color: #FFFFFF;
            }

            p {
              font-weight: 500;
              font-size: 12.6167px;
              line-height: 15px;
              color: #FFFFFF;
            }
          }
        }

        .card-background {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      .expense {
        margin-top: 30px;

        .bar {
          position: relative;
          height: 10px;
          width: 100%;
          border-radius: 14px;
          background-color: #F1F1F1;
          margin-bottom: 11px;

          .filled-bar {
            position: absolute;
            background: #197BBD;
            border-radius: 14px;
            height: 10px;
          }
        }

        .limit {
          display: flex;
          justify-content: space-between;

          p {
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: $text-secondary;
          }

          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: $text-primary;
          }
        }
      }
    }

    .vertical-line {
      height: 200px;
      border-right: 1px solid #E8E8E8;
    }

    .balance-wrapper {
      margin-left: 32px;

      .balance-container {
        margin-bottom: 24px;

        .amount {
          text-align: end;

          span {
            display: inline;
            font-family: 'Lato';
            font-size: 18px;
            line-height: 22px;
            color: #197BBD;
            margin-right: 8px;
          }

          h6 {
            font-family: 'Lato';
            display: inline;
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: #197BBD;
          }
        }

        p {
          text-align: end;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: $text-secondary;
        }
      }

      .credit-container {
        margin-bottom: 24px;

        .amount {
          text-align: end;

          span {
            display: inline;
            font-family: 'Lato';
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #439A86;
            margin-right: 8px;
          }

          h6 {
            display: inline;
            font-family: 'Lato';
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: #439A86;
          }
        }

        p {
          text-align: end;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: $text-secondary;
        }
      }

      .provisions-container {
        margin-bottom: 24px;

        .amount {
          text-align: end;

          span {
            display: inline;
            font-family: 'Lato';
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #BB4430;
            margin-right: 8px;
          }

          h6 {
            display: inline;
            font-family: 'Lato';
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: #BB4430;
          }
        }

        p {
          text-align: end;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: $text-secondary;
        }
      }

      .status {
        text-align: end;
        margin-bottom: 2px;
        .switch-button {
          text-align: end;
          display: inline-block;
          background: #EBEBEB;
          border-radius: 13.617px;
          width: 45.69px;
          height: 23.45px;
          cursor: pointer;
          position: relative;

          .circle {
            width: 23.45px;
            height: 23.45px;
            background: #CDCDCD;
            border-radius: 13.617px;
            position: absolute;
          }
        }

        p {
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #AEAEAE;
        }
      }
    }
  }
}
