<div class="sidebar">

  <div class="logo-container">
    <img class="logo" src="../../assets/images/logo.svg" alt="logo">
  </div>

  <div class="navigations">
    <button routerLink="/overview" routerLinkActive="route-active">
      <img src="../../assets/images/overview-nav-icon.svg" alt="overview-icon">
      Overview
    </button>
    <button routerLink="/locations" routerLinkActive="route-active">
      <img src="../../assets/images/locations-nav-icon.svg" alt="locations-icon">
      Locations
    </button>
  </div>
</div>
