@import "../../assets/scss/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  padding: 23px 50px;

  .header {
    h1 {
      color: $text-primary;
      font-weight: 500;
      font-size: 43px;
      line-height: 54px;
      display: inline;
    }

    p {
      color: $text-secondary;
      font-size: 17px;
      line-height: 20px;
    }
    button{
      border:0;
      background-color: #FFFFFF;
      margin-left:4px
    }
  }

  .icons {
    display: flex;
    align-items: center;

    .inbox {
      object-fit: contain;
      width: 20px;
      height: 16px;
      background-color: #E3E3E3;
      margin-right: 20px;
      cursor: pointer;
    }

    .notification-container {
      position: relative;
      display: flex;
      align-items: center;

      img {
        object-fit: contain;
        cursor: pointer;
      }

      span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #BB4430;
      }
    }

    .avatar-container {
      margin-left: 20px;
      display: flex;

      .avatar {
        background-color: #FFC145;
        border-radius: 50%;
        cursor: pointer;
      }

      .user-info {
        margin-left: 9px;
        white-space: nowrap;

        h6 {
          font-size: 14px;
          font-weight: 500;
          color: $text-primary;
        }

        p {
          font-size: 14px;
          color: $text-secondary;
        }
      }
    }
  }

}
